:root{
    --body-color: #a8c8e0;
    --nav-color: #1d1822;
    --nav-text: #d1c1c1;
    --nav-bars: #9c9494;
    --nav-buttons: #759e9e;
    --logout-hover: #ce5050;
    --submit-hover: #80b980;
    --invalid-input: #c24d4d;
    --positive-numbers: #3cbb4f;
    --negative-numbers:  #f34b3c;
    --table-shadow: #768ea0;
}


*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
 }
.container span{
    color: red;
    font-style: italic;
}
body {
    background-color: var(--body-color);
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
}
nav {
    color: var(--nav-text);
    background: var(--nav-color);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style: none;
    width: 100%;
    height: 76px;
}
#nav-logout-button{
    margin-left: 6vw;
    margin-right: 2vw;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--nav-buttons);
    text-decoration: none;
    color: white;
    align-self: center;
}
#nav-logout-button:hover{
    color: white;
    text-decoration: none;
    background-color: var(--logout-hover);
}
#file-upload-container{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1vw;
    align-self: center;
    border-right: 1px solid var(--nav-bars);
}
#file-upload-container form{
    display: flex;
    flex-direction: row;
    padding-right: 6vw;
}
#file-upload-container button{
    float:right;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--nav-buttons);
    text-decoration: none;
    color: white;
    border: none;
}
#file-upload-container button:hover{
    background-color: var(--submit-hover);
}
#file-upload-container div{
    display: flex;
    flex-direction: column;
    align-self: center;
}
#file-upload-container div span{
    color: var(--invalid-input);
}
#file-upload-label{
    margin-left: auto;
    align-self: center;
    font-size: larger;
}
#logo-label{
    margin-left: 2vw;
    align-self: center;
    font-size: larger;
    font-style: italic;
    border-right: 1px solid var(--nav-bars);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 2vw;
}
#profile{
    margin-left: 1vw;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.content{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-table{
    border-collapse: collapse;
    width: 85%;
    box-shadow: 0px 15px 20px var(--table-shadow);
}
thead{
    border-collapse: separate;
    border-bottom: 2px solid var(--nav-bars);
    height:50px;
}
thead tr{
    background-color: var(--nav-color);
    color: var(--nav-text);
}
thead tr th{
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgb(110, 119, 119);
}
.checkbox-header{
    width: 60px;
}
tbody th{
    text-align: center;
}
tbody tr{
    height: 50px;
    text-align: center;
}
tbody tr th{
    padding-left: 20px;
    padding-right: 20px;
}
td{
    padding-left: 20px;
    padding-right: 20px;
}
.not-started-order{
    box-shadow: inset 7px 0px 0px 0px red;
}
.started-order{
    box-shadow: inset 7px 0px 0px 0px rgb(255, 166, 0);
}
.almost-finished-order{
    box-shadow: inset 7px 0px 0px 0px rgb(217, 255, 0);
}
.finished-order{
    box-shadow: inset 7px 0px 0px 0px rgb(105, 196, 63);
}
tbody tr:nth-child(even){
    background: #CCC
}
tbody tr:nth-child(odd){
    background: rgb(233, 233, 233)
}
.number-input{
    height: 50px;
    width: 100%;
}
.number-input:hover{
    cursor: pointer;
}
.number-input input{
    width: 6vw;
}
.number-input span{
    width: 100%;
    height: 100%;
    display:inline-block;
    line-height: 50px;
}
.number-input input{
    width: 100px;
}
.expense{
    color: var(--negative-numbers);
}
.income{
    color: var(--positive-numbers);
}
.register-form, .login-form{
    width:30vw;
    margin:auto;
    margin-top: 10vh;
    box-shadow: 0px 15px 20px var(--table-shadow);
    background-color: white;
    padding: 2em;
}
.register-form h2, .login-form h2{
    margin-bottom: 2em;
}
.alert{
    width: 30vw;
    margin:auto;
}
.error{
    background-color: var(--logout-hover);
}
.success{
    background-color: var(--submit-hover);
}
