{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger container mt-3 alert-dismissible fade show" role="alert" >
        {{ message }}  
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" method="POST" action="/" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Submit an order</h2>
        {{ form.hidden_tag() }}
        {{ form.xml_file }}
        <br>
        <span>{{ ', '.join(form.xml_file.errors) }}</span><br>
        <div class="row">
          <button class="btn btn-lg btn-primary btn-block col-3 ml-3" type="submit">Submit</button>
          <a class="btn btn-lg btn-warning col-3 ml-auto mr-3" href="/logout" role="button">Log out</a>
        </div>
        <br>
    </form>
    <table class="table table-hover" id="dtBasicExample">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Order Date</th>
            <th scope="col">Address</th>
            <th scope="col">POI</th>
            <th scope="col">Description</th>
            <th scope="col">Work done</th>
            <th scope="col">Order signed</th>
            <th scope="col">Paid</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">{{ order.work_order_id }}</th>
                <td>{{ order.work_order_date }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.person_in_charge }}</td>
                <td>{{ order.description }}</td>
                <td>
                    <input type="checkbox" class="form-check-input update-button" name="is_completed" id="{{ order.id }}"
                    {% if order.is_completed == True %} 
                    checked 
                    {% else %} 
                    unchecked 
                    {% endif %}>
                </td>
                <td>
                    <input type="checkbox" class="form-check-input update-button" name="is_signed" id="{{ order.id }}"  
                    {% if order.is_signed == True %} 
                    checked 
                    {% else %} 
                    unchecked 
                    {% endif %}>
                </td>
                <td>
                    <input type="checkbox" class="form-check-input update-button" name="is_paid" id="{{ order.id }}" 
                    {% if order.is_paid == True %} 
                    checked 
                    {% else %} 
                    unchecked 
                    {% endif %}>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ url_for('.static', filename='app.js') }}"></script>

{% endblock %}